@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?lyzmve");
  src: url("../fonts/icomoon.eot?lyzmve#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?lyzmve") format("truetype"), url("../fonts/icomoon.woff?lyzmve") format("woff"), url("../fonts/icomoon.svg?lyzmve#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/icomoon.scss */
.icon-redo2:before {
  content: "\e968";
}

/* line 30, ../sass/icomoon.scss */
.icon-enlarge2:before {
  content: "\e98b";
}

/* line 33, ../sass/icomoon.scss */
.icon-bin:before {
  content: "\e9ac";
}

/* line 36, ../sass/icomoon.scss */
.icon-star-full:before {
  content: "\e9d9";
}

/* line 39, ../sass/icomoon.scss */
.icon-heart:before {
  content: "\e9da";
}

/* line 42, ../sass/icomoon.scss */
.icon-flickr:before {
  content: "\eaa3";
}

/* line 5, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 32, ../sass/style.scss */
body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  background-color: black;
}

/* line 39, ../sass/style.scss */
.numbers {
  width: 60em;
  margin: 2em auto;
  background: #888;
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /* line 39, ../sass/style.scss */
  .numbers {
    width: 90%;
    padding: 1em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 39, ../sass/style.scss */
  .numbers {
    width: 88%;
    padding: 1em;
  }
}
/* line 52, ../sass/style.scss */
.numbers li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 1.5em 3em;
  border-bottom: 3px solid transparent;
  transition: all .3s ease-in;
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /* line 52, ../sass/style.scss */
  .numbers li {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 52, ../sass/style.scss */
  .numbers li {
    width: 100%;
  }
}
/* line 65, ../sass/style.scss */
.numbers li h4 {
  text-transform: uppercase;
  color: #BBB;
}
/* line 69, ../sass/style.scss */
.numbers li p {
  margin-top: 1em;
  font-weight: bold;
}
/* line 73, ../sass/style.scss */
.numbers li:hover {
  border-bottom: 3px solid yellow;
}

/* line 80, ../sass/style.scss */
.avator {
  width: 3em;
  height: 3em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 2em;
  left: 1em;
}

/* line 89, ../sass/style.scss */
.post {
  margin: 0 auto;
  width: 92%;
  position: relative;
  text-align: left;
  padding: 1em;
  background: #888;
  border-bottom: 1px solid #DDD;
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /* line 89, ../sass/style.scss */
  .post {
    width: 90%;
    padding: 1em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 89, ../sass/style.scss */
  .post {
    width: 88%;
  }
}
/* line 104, ../sass/style.scss */
.post .content {
  margin-left: 4em;
}
/* line 106, ../sass/style.scss */
.post .content span {
  margin-right: 1em;
}
/* line 108, ../sass/style.scss */
.post .content span.name {
  font-weight: bold;
}
/* line 111, ../sass/style.scss */
.post .content span.account {
  font-weight: lighter;
  color: #BBB;
}
/* line 115, ../sass/style.scss */
.post .content span.time {
  color: #BBB;
  float: right;
  margin-right: 0;
}
/* line 122, ../sass/style.scss */
.post header {
  margin-bottom: 1em;
}
/* line 125, ../sass/style.scss */
.post section {
  margin-bottom: 1em;
}
/* line 127, ../sass/style.scss */
.post section p {
  line-height: 1.4;
  font-weight: normal;
}
/* line 131, ../sass/style.scss */
.post section img {
  width: 100%;
  margin-bottom: 1em;
}
/* line 136, ../sass/style.scss */
.post footer {
  margin-top: .5em;
}
/* line 138, ../sass/style.scss */
.post footer a {
  text-decoration: none;
  color: #BBB;
  margin-right: 1em;
}
/* line 142, ../sass/style.scss */
.post footer a:last-child {
  float: right;
  margin-right: 0;
}
/* line 146, ../sass/style.scss */
.post footer a:hover {
  color: white;
}
